.card-title{
  margin-left: 16px;
  margin-top:10px;
  font-size: 14px;
}

.card-description {
  padding-top: 36px;
    padding-right: 20px;
    font-family: Inter;
    font-weight: 500px;
    padding-top: 46px;
    font-size: 14px;
    padding-left: 16px;
    line-height: 100%;
    letter-spacing: -2.2%;
}
.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}